{{!--
Re-usable card for linking to posts
--}}

<article>
    <h2>
        <a href="{{url}}">{{title}}</a>
    </h2>
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
</article>
