{{!< default}}

{{#post}}
<article>

    <header class="mb-8">
        <h1 class="text-4xl font-extrabold">{{title}}</h1>
    </header>

    <div class="max-w-none prose lg:prose-lg">
        {{content}}
    </div>

</article>
{{/post}}
